html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: 'Nanum Myeongjo', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);


.spoqa { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }


.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}


/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 10px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}
.flex-direction{
    flex-direction: column
}
/* 커스텀 */

/* 고정형 .con 시작 */
.con {
    max-width: 1370px;
}
/* 페이지-1 시작 */
.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider, .slider > .slides, .slider > .slides > .item {
    height: 100%;
}
.slider > .slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.slider > .slides > .item {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: scale(1);
    transition: opacity 1.5s, transform 2s;
}
.slider-1 > .slides > .item::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2) url(https://kima-rin.github.io/img1/pf/sagewood/bg_main_gradient.png) left top no-repeat;
}
.slider > .slides > .item.active {
    opacity: 1;
    z-index: 20;
    transform: scale(1.025);
    transition: opacity 1s;
    animation: zoom 4s;
}
@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.025);
    }
}
/* .slider > .slides > .item.bg-item {
    z-index: 10;
} */

.slider-1>.logo-bar{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.slider-1>.logo-bar>.logo{
    flex:5 0 0;
    margin-left: 80px;
    margin-top: 50px;
}
.slider-1>.logo-bar>.login{
    flex:5 0 0;
    color: #fff;
    text-align: end;
    margin-top:30px;
    padding: 10px 2%;
}
.slider-1>.logo-bar>.login>a{
    font-family: 'Nanum Myeongjo', serif;
    font-size:14px;
    line-height: 2.71;
    font-weight: 600;
}
/* 오른쪽 사이드 메뉴 바 */
.rs-menu-bar{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 2%;
    color: #fff;
    text-align: right;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
}
.rs-menu-bar>li{
    font-size: 17px;
    padding-right: 20px;
}
.rs-menu-bar:hover{
    color:rgba(255, 255, 255, 0.5)
}
.rs-menu-bar>li:hover{
    color: #fff;
}
.rs-menu-bar>li:first-child{
    padding-bottom:18px;
}
.rs-menu-bar>li:not(:first-child):not(:last-child){
    padding: 18px 0;
    padding-right: 20px;
}
.rs-menu-bar>li:last-child{
    padding-top: 18px;
}
/* 가운데 텍스트 */
.center{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}
.center>.center-text{ 
    font-size: 26px;
    color:#fff;
    font-weight: 300;
}
.center>.center-text>.scroll-wrap{
    position: relative;
    width: 100%;
    height: 160px;
    padding-top: 60px;
}
.center>.center-text>.scroll-wrap>.scroll{
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.center>.center-text>.scroll-wrap>.scroll>.bar{
    width: 100%;
    background-color: #fff;
    animation-name: scroll-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scroll-ani{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
/* 왼쪽 텍스트 박스 */
.left-text-box{
    position: absolute;
    left: 80px;
    bottom: 0;
    border-left:1px solid rgba(255, 255, 255, 0.2);
    z-index: 12;
    padding-bottom: 30px;
}
.left-text-box>div{
    color: #fff;
    padding-left: 20px;
    padding-bottom: 30px;
}
.left-text-box>div>a{
    display: block;
    font-size: 16px;
    padding: 7px 0;
    font-family: 'Nanum Myeongjo', serif;
}
.left-text-box>div>span{
    font-size: 11px;
    font-weight: 300;
}
.btn-area{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    transition: all 2s;
    z-index: 13;
}
.btn-area:hover{
    background-color: black;
}
.btn-area>a{
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    padding: 20px 130px 20px 25px;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
}
.btn-area>a::before{
    content: "";
    position: absolute;
    top:50%;
    left: 55%;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: #fff;
}
.btn-area:hover>a::before{
    opacity: 0;
}
.btn-area>a::after{
    content: "";
    position: absolute;
    top:50%;
    left: 55%;
    transform: translateY(-50%);
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 2s;
}
.btn-area:hover>a::after{
    width: 50px;
}

/* 페이지-1 끝 */

/* 페이지-2 시작 */
/* 백그라운드 */
.page2 > .slider> .slides > .item{
    background-color: red !important; 
}
.empty{
    height: 100px;
    width: 100px;
    
}
/* 페이지-2 끝 */