/* 슬라이더 바*/
.main-box{
    display: flex;
    flex-wrap: wrap;
}
 
.main-box>.slide-box {
    flex:4 0 0;
    position: relative;
}
.main-box>.slide-box>.slides{
    width: 100%;
    height:100%;
}
.main-box>.slide-box>.slides>div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;    
}
.main-box>.slide-box>.slides>div.active{
    opacity: 1;
}
.main-box>.slide-box>.side-btn>div{
    position: absolute;
    top:0;
    left: 0;
    width: calc(50% - 100px);
    height: 100%;
}
.main-box>.slide-box>.side-btn>div:last-child{
    left:auto;
    right: 0;
}
.main-box>.slide-box>.side-btn>div>span{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:inherit;
    right:inherit;
    font-size:rem;
    transition: transform 0.2s;
    margin:0 10px;
    opacity: 0;
}
/* 메인 로고*/
.main-box>.logo{
    flex:5 0 0;
    margin-right: -30px;
}
.main-box>.logo>.main-logo{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.main-box>.logo>.main-logo::after{
    content: "";
    display: block;
    padding-top: 80%;
    

}

/* 게시판 시작*/

.article-box>.article-list{
    width:100%;
    left:auto;
    right: auto;

}
.article-box>.article-list>ul{
    width:100%;
    padding: 10%;
}
.article-box>.article-list>ul>li{
    border-bottom: 1px solid #666666;
}
.article-box>.article-list>ul>li>a{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding: 10px;
}
.article-box>.article-list>ul>li>a>span{
    padding: 0px 20px;
}
.article-box>.article-list>ul>li>a>span:last-child{
    float: right;
}
/* 게시판 끝*/

@media ( max-width:800px ) {
    .main-box > div {
      width:100%;
      flex-grow:0 !important;
      flex-basis:auto !important;
    }
    .main-box>.slide-box{
        height: 400px;
    }
    .main-box>.logo>.main-logo::after{
        padding-top: 60%;
    }
    .article-box>.article-list>ul>li>a>span{
        padding: 0px 15px;
    }
}