@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

html {
  font-family: "Noto Sans KR", sans-serif;
  /*font-family: 'Charm', cursive;*/
}

.charm {
  font-family: 'Charm', cursive;
  font-weight: 700;
  font-size: 18px;
}

/* .blur-in */
.blur-in {
  position: relative;
  overflow: hidden;
}

.blur-in .blur-item.origin {
  opacity: 0;
  visibility: hidden;
}

.blur-in .blur-item.clone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blur-in.blur-in-type-1 .blur-item-cover-box {
  position: absolute;
  top: -70px;
  left: -70px;
  right: -70px;
  bottom: -70px;
  pointer-events: none;
}

.blur-in.blur-in-type-1 .blur-item-cover {
  position: absolute;
  filter: blur(5px);
  pointer-events: none;
}

.blur-in.blur-in-type-1 .blur-item-cover.first,
.blur-in.blur-in-type-1 .blur-item-cover.second {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F5F3F1;
  transition-property: top, left, right, bottom, opacity;
}

.blur-in.blur-in-type-1 .blur-item-cover.second {
  visibility: hidden;
}

.blur-in.blur-in-type-1-down.active .blur-item-cover.first {
  top: 100%;
}

.blur-in.blur-in-type-1-up.active .blur-item-cover.first {
  bottom: 100%;
}

.blur-in.blur-in-type-1-right.active .blur-item-cover.first {
  left: 100%;
}

.blur-in.blur-in-type-1-left.active .blur-item-cover.first {
  right: 100%;
}

.blur-in.blur-in-type-1-normal {
  opacity: 0;
  transition: opacity 1s;
}

.blur-in.blur-in-type-1-normal.active {
  opacity: 1;
}

.blur-in.blur-in-type-1-normal .blur-item-cover {
  display: none;
}

.blur-in.blur-in-type-1-left-and-right .blur-item-cover.first {
  right: 20%;
}

.blur-in.blur-in-type-1-left-and-right .blur-item-cover.second {
  visibility: visible;
  left: 20%;
}

.blur-in.blur-in-type-1-left-and-right.active .blur-item-cover.first {
  right: 100%;
}

.blur-in.blur-in-type-1-left-and-right.active .blur-item-cover.second {
  left: 100%;
}
.blur-in-before-hidden {
  visibility: hidden;
  opacity:0;
}



/* 모바일 사이드 바 데코박스 */
.left-side-bar{
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  height: 100%;
  top:0;
  left: -290px;
  transition: left .5s;
  background-color: #F5F3F1;
  z-index: 150;
}
.left-side-bar.active{
  left: 0;
}
.left-side-bar>.rs-menu-bar {
  top:0;
  height: 100%;
  width: 350px;
  bottom: 0;
  transition: right .5s,margin-left .5s; 

}
.left-side-bar>.rs-menu-bar.active {
  margin-left:350px;
}
.left-side-bar>img{
  position:absolute;
  top:50%;
  right:-10px;
  transform: translateY(-50%);
}
/* 모바일 사이드 메뉴 바 로고 */

.left-side-bar > .rs-menu-logo>a{
  margin-top: 30%;
}
/* 모바일 사이드 메뉴 바 */
.left-side-bar>.rs-menu-bar>ul{
  text-align: center;
  margin-top: 40%;
}
.left-side-bar>.rs-menu-bar>ul>div{
  padding-bottom: 50px;
}
.left-side-bar>.rs-menu-bar>ul>li>a{
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 200px;
  left: auto;
  right: auto;
}
.left-side-bar>.rs-menu-bar>ul>li>a:hover::after{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%);
  content: url(/resource/img/text_dc.png);
  width: 100px;
  box-sizing: border-box;
}
/* 오른쪽 사이드 로고 */
.left-side-bar>.rs-logo-box{
  position: fixed;
  left: 15px;
  top:calc(50% + 30px);
  transform:translateY(-50%);
}
/* 토글버튼 */
.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar {
  width: 30px;
  height: 30px;
  margin-left: -10%;
  margin-top: 10px;
  position: relative;
}

.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: black;
  transition: top .3s .3s, transform .3s, opacity .2s .3s;
  
}
.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar>div:nth-child(2) {
  top: 40%;
}
.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar>div:nth-child(3) {
  top: 80%;
}

.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar.active>div {
  top: 40%;
  transition: top .3s, transform .3s .3s, opacity .2s 0s;
}

.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
  transform: rotate(45deg);
}

.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
  transform: rotate(-45deg);
}

.left-side-bar>.rs-logo-box>.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
  opacity: 0;
}
/* 사이드 메뉴 글씨 */
.m-side-menu-bnt{
  font-family: 'Montserrat', sans-serif;
  writing-mode: vertical-rl;
}
.m-side-menu-bnt>a{
  padding: 30px 0;
}

/* 오른쪽 사이드 바 끝 */

/* 메인 박스 끝*/

/* 팝업창 시작 */
.popup-bg {
  position: fixed;
  display: none;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.7);
  z-index: 200;
}
.popup-bg.active{
  display: block;
  visibility: visible;
}
.popup-box {
  position: fixed;
  display: none;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
.popup-box.active {
  display: block;
  visibility: visible;
}
.popup-box .popup-button .left{
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  transform: translate(-100%, -50%);
  display: none;
}
.popup-box .popup-button .right{
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translate(100%, -50%);
  display: none;
}
.popup-box .btn-close {
position: absolute;
top: -40px;
right: -40px;
width: 40px;
height: 40px;
}
.popup-box .btn-close::before {
content:"";
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 7px;
transform: translateY(-50%) rotate(45deg);
transform-origin: center;
background-color: #ffffff;
}
.popup-box .btn-close::after {
content:"";
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 7px;
transform: translateY(-50%) rotate(-45deg);
transform-origin: center;
background-color: #ffffff;
}
.popup-box .popup-items{
overflow:auto;
max-width: 90vw;
max-height: 90vh;
}
.popup-box .popup-item{
display: none;
visibility: hidden;
width: 1200px;
}
.popup-box .popup-item.active{
display: block;
visibility: visible;
}
/* .popup-box .popup-item .popup-img img{
display: block;
max-width: calc(1200px - 80px);
 max-height: calc(100vh - 80px);
} */



/* 팝업창 끝 */