.momt-text{
    font-family: 'Montserrat', sans-serif;
}

.pf-c-wrapper>div{
    width: 90%;
    height: calc(100vh - 55px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border:2px solid red;
}
.pf-c-wrapper>div>div{
    width:100%;
    height: 100%;
}
.pf-c-wrapper>div>div>p{
    margin-left: 40px;
    font-size: 38px;
}
.pf-c-wrapper>div>div>img{
    margin-left: 100px;
}
/*콘텐츠 리스트 박스 시작*/
.pf-c-wrapper>div>.content-list-box>div{
    position: absolute;
    width: 50%;
    height: 100%;
    top:0;
    left: 50%;
}
/*콘텐츠-normal*/
.cont-number{
    font-size: 120px;
    color: #dfdfdf;
    padding: 60px 0;
}
.cont-title{
    font-size:5
}

/*콘텐츠-1*/
.pf-c-wrapper>div>.content-list-box>div>.con-1{
    width: 300px;
    height: 100%;
    border-left:1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
}
.pf-c-wrapper>div>.content-list-box>div>.con-1>.img-box>img{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
/*콘텐츠-2*/
.pf-c-wrapper>div>.content-list-box>div>.con-2{
    width: 300px;
    height: 100%;
    border-right: 1px solid #4d4d4d;
}