@font-face {
  font-family: "lushHw";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/lushHandwritten_wlat_bd-webfont.woff2") format("woff2"),
    url("font/lushHandwritten_wlat_bd-webfont.woff") format("woff"),
    url("font/lushHandwritten_wlat_bd-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "gyeonggi-t";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_Light.woff2") format("woff2"),
  url("font/gyeonggi-t_Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "gyeonggi-t";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_Medium.woff2") format("woff2"),
  url("font/gyeonggi-t_Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "gyeonggi-t";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_Bold.woff2") format("woff2"),
  url("font/gyeonggi-t_Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "gyeonggi-t";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_ExtraBold.woff2") format("woff2"),
  url("font/gyeonggi-t_ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "gyeonggi-t_Ba";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_Ba_Regular.woff") format("woff"),
  url("font/gyeonggi-t_Ba_Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "gyeonggi-t_Ba";
  /* 폰트이름 지정, 작업자 마음대로 */
  src: url("font/gyeonggi-t_Ba_Bold.woff") format("woff"),
  url("font/gyeonggi-t_Ba_Bold.ttf") format("truetype");
  font-weight: 700;
}


.font-lushHw {
  font-family: "lushHw";
}

.font-gyeonggi-t {
  font-family: "gyeonggi-t";
}
.font-gyeonggi-t_Ba{
  font-family: "font-gyeonggi-t_Ba";
}
.font-nanum {
  font-family: 'Nanum Pen Script', cursive;
}

.title-box > * {
  font-weight: 400;
}