html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "gyeonggi-t", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,h2,h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.height-100p {
  height: 100%;
}

.border-red {
  border: 3px solid red;
}

.ratio-1-1::after {
  content: "";
  display: block;
  padding-top: 100%;
}


/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-end {
  display: flex;
  justify-content: flex-end;
}

*>.flex-jc-c {
  display: flex;
  justify-content: center;
}

*>.flex-ai-c {
  display: flex;
  align-items: center;
}

*>.flex-ai-e {
  display: flex;
  align-items: flex-end;
}

*>.flex-row-nowrap {
  flex-direction: row;
  flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
  display: flex;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

.flex-jc-sb {
  justify-content: space-between;
}

/* 공통 css */
@media (max-width:799px) {
  .visible-md-up {
    display: none;
  }
}

@media (min-width:800px) {
  .visible-sm-down {
    display: none;
  }
}

/* 커스텀 */
html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

.con-min-width {
  min-width: 1440px;
  max-width: 2560px;
}

.con {
  width: 1200px;
}
.img-background-contain{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.img-background-cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-background-height{
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/*탑 메뉴박스 시작*/
/*etc-box 시작*/
.etc-box{
  position: absolute;
  top:20px;
  right: 80px;
}
.etc-box>div>a>svg{
  width: 30px;
  height: 30px;

}
.etc-box>span{
  height: 30px;
}
.etc-box>span>a{
  padding: 0 10px;
  font-size: 12px;
}
.etc-box>span>.frist{
  position: relative;
}
.etc-box>span>.frist::after{
  content: "";
  width: 2px;
  height: 15px;
  background-color: black;
  position: absolute;
  top:10%;
  right: 0;
}
/*탑 메뉴박스 시작*/
.wrapper {
  z-index: 100;
}
.top-menu-box {
  position: relative;
  width: 90%;
  height: 350px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
}

.top-menu-box>.menu-box-base {
  height: 100%;
  position: relative;
}

.img-box>img,
.img-box>svg {
  width: 100%;
  display: block;
}

.logo {
  display: inline-block;
  width: 200px;
}

.logo>a>svg path {
  fill: black;
}

.top-menu-box>div>.top-menu-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.wrapper >.background{
  position: absolute;
  top:100%;
  width: 100%;
  height: 0;
  margin-top: 15px;
  background-color: white;
  transition: all .5s;
  z-index: 0;
}
.wrapper.background-actived >.background{
  height:360px;
}
.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul {
  text-align: center;

}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li {
  border-right: 1px solid black;
  position: relative;
  z-index: 99;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(8) {
  border: none;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li>a {
  font-family: lushHw;
  padding: 0 20px;
  padding-bottom: 20px;
  font-size: 20px;
  white-space: nowrap;
}
.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li ul {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  transition: opacity .5s;
  z-index: 10;
}
.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul:hover>li ul{
  opacity: 1;
  
} 

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li ul>li>a {
  font-size: 14px;
  line-height: 30px;
}

/*메뉴바 밑 한글*/
.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(1)>a::after {
  content: "베스트&신제품";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(2)>a::after {
  content: "바스&샤워";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(3)>a::after {
  content: "바디";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(4)>a::after {
  content: "페이스";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(5)>a::after {
  content: "헤어";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(6)>a::after {
  content: "선물";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(7)>a::after {
  content: "메이크업";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

.top-menu-box>.menu-box-base>.top-menu-bar>nav>ul>li:nth-child(8)>a::after {
  content: "향수";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "gyeonggi-t";
  font-size: 14px;
}

/*탑 메뉴박스 끝*/
/*메인 슬라이드 시작*/
.main-slider{
  margin-top: 50px;
  position: relative;
  z-index: 0;
}
.main-slider>.sliders>div{
  width: 100%;
  height: 500px;

}
.main-slider>.sliders>.slider-img-1{
  flex:3 0 0;
}
.main-slider>.sliders>.slider-img-2{
  flex:5 0 0;
  position: relative;
}
.main-slider>.sliders>.slider-img-2>.text-box-1{
  position: absolute;
  width: 350px;
  height: 350px;
  border:3px solid white;
  top:50%;
  left: 50px;
  transform: translateY(-50%);
  color: #fff;
}
.main-slider>.sliders>.slider-img-2>.text-box-1>.title{
  font-size: 80px;
  margin-top: 40px;
}
.main-slider>.sliders>.slider-img-2>.text-box-1>.fresh-hand{
  margin-top: 10px;
  font-size: 30px;
  line-height: 30px;
}
.main-slider>.sliders>.slider-img-2>.text-box-1>.have-look{
  display: inline-block;
  margin-top: 40px;
  padding: 7px 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #fff;
  color: black;
}
/*메인 슬라이드 버튼*/
.main-slider>.slider-btn{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top:50%;
  left: 37.5%;
  transform: translateX(-50%);
}
.main-slider>.slider-btn>div{
  position: relative;
}
.main-slider>.slider-btn>div>.arrow{
  position: absolute;
  width: 100%;
  height: 100%;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*메인 슬라이드 끝*/
/*러쉬라이프 시작*/

.lush-life{
  width: 100%;
  height: 450px;
}
.lush-life>.black-back{
  width: 100%;
  height: 250px;
  background-color: black;
}
.lush-life>.black-back>div>div{
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 60px;
}
.lush-life>.black-back>div>div>img{
  position: absolute;
  left: -45%;
  top:25%;
  width: 270px;
}
.lush-life>.black-back>div>.life-text-box{
  color: #fff;
  margin-left: 50px;
}
.lush-life>.black-back>div>.life-text-box>p{
  font-size: 12px;
  line-height: 18px;
}
.lush-life>.black-back>div>.life-text-box>.sticker{
  position: absolute;
  top:0;
  right: 0;
}
.lush-life>.black-back>div>.life-text-box>.icon-box{
  margin-top: 50px;
}
.lush-life>.black-back>div>.life-text-box>.icon-box>img{
  width: 850px;
}
/*러쉬라이프 끝*/
/*첼리티 팟 시작*/

.charity-pot{
  width: 100%;
  height: 400px;
}
.charity-pot>.text-box>div>h3{
  font-size: 16px;
}
.charity-pot>.text-box>div>h1{
  font-size: 40px;
  line-height: 40px;
}
.charity-pot>.text-box>div>p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}
/*첼리티 팟 끝*/
/*상품박스 1 시작*/
.prod-box-1{
  width: 100%;
    margin-top:30px;
  margin-bottom: 100px;
}
.prod-box-1>.prod-img-box{
  flex:5 0 0;
  height: 760px;
}
.prod-box-1>.prod-img-box>.img-text-box>div{
  width: 600px;
  height: 100%;
  color: white;
}
.prod-box-1>.prod-img-box>.img-text-box>div>h1{
  padding-top: 150px;
  font-size: 70px;
  line-height:100px;
}
.prod-box-1>.prod-img-box>.img-text-box>div>h3{
  font-size: 40px;
  line-height: 60px;
}
.prod-box-1>.prod-img-box>.img-text-box>div>div{
  padding-top: 50px;
}
.prod-box-1>.prod-img-box>.img-text-box>div>div>a{
  padding: 10px 20px;
  border:2px solid white;
}
.prod-box-1>.prod-img-list{
  flex:5 0 0;
}
.prod-box-1>.prod-img-list>.prod-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1rem;
  grid-auto-rows:minmax(200px,auto);
  width: 600px;
  height: 100%;
}
.prod-box-1>.prod-img-list>.prod-box>.prod-item{
    margin-left:30px;
    position:relative;
}
.prod-box-1>.prod-img-list>.prod-box>.prod-item::after{
    content:"best seller";
    position:absolute;
    top:-10px;
    right:0;
    padding:27px 5px;
    text-align:center;
    font-size:12px;
    border-radius:50%;
    font-family: "lushHw";
    border:1px solid black;
}
.prod-box-1>.prod-img-list>.prod-box>.prod-item>img{
  width: 110px;
  display: block;
  margin-left:50%;
   transform:translatex(-50%);
  justify-self: center;
}

.prod-item>.prod-title{
    margin-top:20px;
    font-size:18px;
    line-height:24px;
}
.prod-item>.under-line{
  display: block;
  border-bottom: 1px solid black;
  font-size:12px;
  line-height:22px;
}
.prod-item>.price{
   font-size:14px;
   line-height:24px;
   position:relative;
}
.prod-item>.price>img{
    width:25px;
    position:absolute;
    right:0;
}

/*상품박스 1 끝*/

/*상품박스 2 시작*/
.prod-box-2>div>.prod-soap-1{
  flex:5 0 0;
}
.prod-box-2>div>.prod-soap-1>.new-soap>.cc{
  position:absolute;
  top:0;
  left:0;
  width:70px;
  height:70px;
  text-align:center;
  font-size:12px;
  border-radius:50%;
  font-family: "lushHw";
  background-color:black;
  color:#fff;
  text-align:center;
}
.prod-box-2>div>.prod-soap-1>.new-soap>.cc>a{
  position:relative;
  top:35%;    
}
.prod-box-2>div>.prod-soap-1>.new-soap{
  text-align:center;
}
.prod-box-2>div>.prod-soap-1>.new-soap>img{
  width:270px;
}
.prod-box-2>div>.prod-soap-1>.comment{
  width:100%;
  margin-top:20px;
  padding:20px 0;
  font-size:10px;
  background-color:#f2f2f2;
}
.prod-box-2>div>.prod-soap-1>.sopa-img-1{
  height:260px;
  margin-top:20px;
}
.prod-box-2>div>.prod-soap-1>.soap-title{
  margin-top:30px;
}
.prod-box-2>div>.prod-soap-1>.soap-under-line{
display: block;
border-bottom: 1px solid black;
font-size:14px;
line-height:24px;
}
.prod-box-2>div>.prod-soap-1>.price{
 font-size:14px;
 line-height:24px;
 position:relative;
}
.prod-box-2>div>.prod-soap-1>.price>img{
  width:25px;
  margin-top:3px;
  position:absolute;
  right:0;
}
.prod-box-2>div>.prod-soap-1>.comment>div>.icon-back{
  display:inline-block;
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:white;
  margin-left:20px;
  position:relative;
}
.prod-box-2>div>.prod-soap-1>.comment>div>.name{
  margin-left:5px;
  font-size:13px;
  position:relative;
  padding-right:50px;
}
.prod-box-2>div>.prod-soap-1>.comment>div>.name::after{
  content:"About 2 months ago";
  position:absolute;
  bottom:3px;
  left:0;
  font-size:7px;
  color:#adadad;
}
.prod-box-2>div>.prod-soap-1>.comment>p{
  font-size:12px;
  line-height:18px;
  margin-left:57px;
}
.prod-box-2>div>.prod-soap-1>.comment>div>.icon-back>img{
  position:absolute;
  top:50%;
  left:50%;
  transform:translatex(-50%) translatey(-50%);  
}
.prod-box-2>div>.prod-soap-1>.sopa-img-1>.cc-2{
  width:200px;
  height:200px;
  top:0;
  left:0;
  border-radius:50%;
  border:2px solid white;
  position:relative;
  margin-top:15px;
}
.prod-box-2>div>.prod-soap-1>.sopa-img-1>.cc-2>a{
  position:absolute;
  color:white;
  font-size:40px;
  line-height: 42px;
  text-align:center;
  top:50%;
  left:50%;
  transform:translatex(-50%) translatey(-50%);
  white-space:nowrap;
  
}
.prod-box-2>div>.prod-soap-1>.sopa-img-1>.View-c{
  position:absolute;
  bottom:0;
  color:white;
  text-decoration:underline;
  margin-bottom:15px;
}
.prod-box-2>div>.prod-soap-2{
  flex:5 0 0;
}
.prod-box-2>div>.prod-soap-2>.grop-1>div{
  width:280px;
  height:280px;
  background-color:black;
  margin-left:20px;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.black-lives{
  position:relative;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.black-lives::before{
  content:"FEATURES";
  position:absolute;
  top:20px;
  left:20px;
  color:#fff;
  font-size:12px;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.black-lives::after{
  content:"Find out more";
  position:absolute;
  bottom:20px;
  left:20px;
  color:#fff;
  text-decoration:underline;
  font-size:14px;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.black-lives>a{
  font-size:38px;
  color:#fff;
  margin-left:20px;
  margin-top:60px;
  display:block;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.delivery{
  position:relative;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.delivery::before{
  content:"FEATURES";
  position:absolute;
  top:20px;
  left:20px;
  color:#fff;
  font-size:12px;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.delivery::after{
  content:"Find out more";
  position:absolute;
  bottom:20px;
  left:20px;
  color:#fff;
  text-decoration:underline;
  font-size:14px;
}
.prod-box-2>div>.prod-soap-2>.grop-1>.delivery>a{
  font-size:38px;
  color:#fff;
  margin-left:20px;
  margin-top:60px;
  display:block;
}
.prod-box-2>div>.prod-soap-2>.grop-2>div{
  width:280px;
  height:280px;
  margin-left:20px;
  margin-top:20px;
 
}
.prod-box-2>div>.prod-soap-2>.grop-2>.shop-open{
  position:relative;
}
.prod-box-2>div>.prod-soap-2>.grop-2>.shop-open::before{
  content:"FEATURES";
  position:absolute;
  top:20px;
  left:20px;
  color:#fff;
  font-size:12px;
}
.prod-box-2>div>.prod-soap-2>.grop-2>.shop-open::after{
  content:"Find out more";
  position:absolute;
  bottom:20px;
  left:20px;
  color:#fff;
  text-decoration:underline;
  font-size:14px;
}
.prod-box-2>div>.prod-soap-2>.grop-2>.shop-open>a{
  font-size:35px;
  color:#fff;
  margin-left:20px;
  margin-top:60px;
  display:block;
}

.prod-box-2>div>.prod-soap-2>.grop-2>.prod-seanik>.ocean-img>img{
  width:130px;
  margin-top:30px;
}
.prod-seanik>.prod-title{
  margin-top:10px;
font-size:18px;
  line-height:24px;
}
.prod-seanik>.under-line{
display: block;
border-bottom: 1px solid black;
font-size:12px;
line-height:22px;
}
.prod-seanik>.price{
 font-size:14px;
 line-height:24px;
 position:relative;
}
.prod-seanik>.price>img{
  width:25px;
  position:absolute;
  right:0;
}
/*상품박스 2 슬랑이스 */
.grop-3>div{
  width:170px;
  margin-left:20px;
}
.grop-3 .prod-img>img{
  width:110px;
  margin-top:30px;
}
.grop-3 .prod-title{
  margin-top:10px;
font-size:18px;
  line-height:24px;
}
.grop-3 .under-line{
display: block;
border-bottom: 1px solid black;
font-size:12px;
line-height:22px;
}
.grop-3 .price{
 font-size:14px;
 line-height:24px;
 position:relative;
}
.grop-3 .price>img{
  width:25px;
  position:absolute;
  right:0;
}
/*상품박스 2 끝*/

/*배너박스 시작*/

.banner-box>.new-style-banner{
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
.banner-box>.spa-box{
  width: 100%;
  height: 500px;
  background-color: black;
}
.banner-box>.spa-box>.spa-banner{
    height:100%;
}
.banner-box>.spa-box>.spa-banner>.spa-slide{
  flex:2 0 0;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-1{
    position:relative;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-1>div{
    background-color:#FFEDE3;
    position:absolute;
    top:50%;
    right:0;
    transform:translatey(-50%);
    width:100%;
    height:80%;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-1>div::before{
    content:"the sound bath";
    position:absolute;
    left:50%;
    transform:translatex(-50%);
    top:10%;
    font-size:30px;
    font-family: "lushHw";
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-1>div>span{
    position:absolute;
    left:50%;
    transform:translatex(-50%);
    bottom:30px;
    font-size:12px;
    text-align:center;
    white-space:nowrap;
}

.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-1>div>div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
    width:50%;
    height:50%;
    border:10px solid white;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-2>div{
    background-color:#FFEDE3;
    position:relative;
    top:50%;
    right:0;
    transform:translatey(-50%);
    width:100%;
    height:80%;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-2>div>div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
    width:70%;
    height:70%;
    background-color:black;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-2>div>div>a:first-child{
    color:white;
    font-size:14px;
    display:block;
    margin:40px 30px;
    padding-top:10px;
}
.banner-box>.spa-box>.spa-banner>.spa-slide>.spa-slide-box-2>div>div>a:last-child{
    color:white;
    font-size:12px;
    display:block;
    margin:30px;
}
.banner-box>.spa-box>.spa-banner>.spa-text-box{
  flex:1 0 0;
    position:relative
}
.banner-box>.spa-box>.spa-banner>.spa-text-box>div{
    border:1px solid white;
    position:absolute;
    top:50%;
    right:0;
    transform:translatey(-50%);
    width:90%;
    height:80%;
}

.banner-box>.spa-box>.spa-banner>.spa-text-box>div>.spa-title{
  font-size: 40px;
  color: #fff;
  margin-left: 30px;
}
.banner-box>.spa-box>.spa-banner>.spa-text-box>div>.spa-text{
  font-size: 14px;
  color: #fff;
  margin-left: 20px;
}
.banner-box>.spa-box>.spa-banner>.spa-text-box>div>.spa-shop{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
}
  
/*배너박스 끝*/
