
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.rubic-font{
    font-family: 'Rubik', sans-serif;
}
/* 노말라이즈 */
body,
ul,
li,
h1,p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.margin-left-20 {
    margin-left: 20px;
}

.margin-left-40 {
    margin-left: 40px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.abs-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: none;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 2px solid red;
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.border-pink {
    border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-c {
    justify-content: center;
}

*>.flex-jc-s {
    justify-content: flex-start;
}

*>.flex-jc-e {
    justify-content: flex-end;
}

*>.flex-jc-sb {
    justify-content: space-between;
}

*>.flex-ai-c {
    align-items: center;
}

*>.flex-ai-s {
    align-items: flex-start;
}

*>.flex-ai-e {
    align-items: flex-end;
}

*>.flex-as-s {
    align-self: stretch;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-as-s {
    align-self: flex-start;
}

*>.flex-as-e {
    align-self: flex-end;
}
*>.flex-jc-sa {
    justify-content: space-around;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-column-wrap {
    flex-flow: column wrap;
}

*>.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-order-1 {
    order: 1;
}

.flex-order-2 {
    order: 2;
}

.flex-order-3 {
    order: 3;
}

/* 커스텀 */

/* 고정형 .con 시작 */
.con-min-width {
    min-width: 1440px;
}

.con {
    width: 1440px;
}

/* 고정형 .con 끝 */

body {
    min-height: 100vh;
}

/* 탑바 시작 */
.top-bar {
    height: 91px;
    background-color: white;
    position: relative;
    ;
    top: 0;
    left: 0;
    width: 100%;
}

/* 탑바 - 로고 시작 */
.top-bar .menu-box-1>ul>.li-logo>.sub-menu-bg-logo {
    position: absolute;
    z-index: 20;
    visibility: hidden;
}

.top-bar .menu-box-1:hover>ul>.li-logo>.sub-menu-bg-logo {
    visibility: visible;
    margin-top: 30px;
    margin-left: 25px;
    transition: visibility 0s 0.1s;
}

/* 탑바 - 로고 끝 */

.top-bar .menu-box-1>ul>.item-bottom-line {
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: 0;
    left: -2000px;
    background-color: #1B9C9E;
    transition: width 0.3s, left 0.3s, visibility 0.2s, opacity 0.2s;
    opacity: 0;
    visibility: hidden;
}

.top-bar .menu-box-1:hover>ul>.item-bottom-line {
    opacity: 1;
    visibility: visible;
}

.top-bar .menu-box-1>ul ul {
    position: absolute;
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
    z-index: 10;
}

.top-bar .menu-box-1>ul ul>li:first-child {
    margin-top: 0;
    transition: margin-top 0.3s;
}

.top-bar .menu-box-1:hover>ul ul>li:first-child {
    margin-top: 30px;
}

.top-bar .menu-box-1>.sub-menu-bg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s;
    background-color: #1B9C9E;
}

.top-bar .menu-box-1:hover>.sub-menu-bg {
    height: 300px;
}

.top-bar .menu-box-1:hover>ul ul {
    height: 300px;
}

.top-bar .menu-box-1 ul>li>a {
    white-space: nowrap;
}

.top-bar .menu-box-1>ul>li>a {
    color: #444;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0 35px;
}

.top-bar .menu-box-1 ul ul>li>a {
    padding: 10px 0;
    margin-left: 35px;
    color: white;
    display: block;
    font-weight: 500;
}

/* 탑바 끝 */
/* 메인 배너 박스 */
.main-banner-box {
    max-width: 1920px;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}

.main-banner-box>.video-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    z-index: -1;
    overflow: hidden;
}

.main-banner-box>.video-box>video {
    display: block;
    width: 100%;
}

/* 메인 배너 끝*/
/* sns 박스 시작 */
.sns-box>div:first-child {
    flex: 5 0 0;
    position: relative;
    margin: 50px 0;
}
.sns-box>div:first-child>p{
    padding:40px 0;
    padding-left:150px;
    font-size: 42px;
}
.sns-box>div:first-child>span{
    position: absolute;
    width:230px;
    height: 3px;
    right: 100px;
    bottom: 68px;
    background-color: #1B9C9E;
}
.sns-box>div:last-child {
    flex: 5 0 0;
}
.sns-box>div:last-child>.sns-bar{
    width: 100%;
    height: 100%;
}
.sns-box>div:last-child>.sns-bar>div{
    position: relative;
    width:74px;
    height:74px;
    padding:30px;
}
.sns-box>div:last-child>.sns-bar>div:nth-child(1)::after{
    content: "인스타그램";
    position: absolute;
    font-size: 20px;
    bottom:-5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.sns-box>div:last-child>.sns-bar>div:nth-child(2)::after{
    content: "유투브";
    position: absolute;
    font-size: 20px;
    bottom:-5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.sns-box>div:last-child>.sns-bar>div:nth-child(3)::after{
    content: "카카오톡채널";
    position: absolute;
    font-size: 20px;
    bottom:-5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
/* sns 박스 끝 */
/* 슬라이드 박스 시작 */
.banner-box{
    height: 700px;
}
.banner-box>div>div>div{
    height: 450px;
}
.text-box-big>div>span{
    font-size: 16px;
    line-height: 20px;
}

.text-box-small{
    position: absolute;
    width: 80px;
    background-color:#1B9C9E;
    top:0;
    right: 0;
    color:#fff;
    text-align:center;
    line-height: 22px;
    padding:17px 0px 19px;
}
.text-box-small-2{
    position: absolute;
    width: 80px;
    background-color:#5262AD;
    top:0;
    right: 0;
    color:#fff;
    text-align:center;
    line-height: 22px;
    padding:28px 0px 30px;
}
.text-box-big{
    position: absolute;
    right: 0;
    bottom:7.5%;
    width: 93%;
    height: 210px;
    background-color: #fff;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
    transition: height .5s;
    overflow: hidden;
    z-index: 10;
}
.text-box-big>.cover-1{
    margin:34px 30px 36px;
}
.cover-2{
    position: absolute;
    width: 100%;
    height: 40px;
    right: 0;
    bottom: 0;
    margin-right: 0;
    background-color:#fff;
    z-index: 20;
}
.text-box-big:hover{
    height: 390px;
}

.text-box-big>div>.condition{
    font-weight: 500;
    padding: 0 10px;
    color: #1B9C9E;
}
.text-box-big>div>.name{
    font-size: 35px;
    line-height: 52px;
    margin: 11px 0;
}
.text-box-big>div>.address{
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
}
.text-box-big>div>.guide-1{
    font-size: 14px;
    line-height: 24px;
}
.text-box-big>div>.guide-2{
    font-size: 14px;
    line-height: 24px;
}
.text-box-big>div>.detail{
    width:100%;
    border:1px solid black;
    text-align: center;
    padding: 20px 0;
    margin:20px 0;
    border-radius: 5px;
}


/* 슬라이드 박스 끝 */

.my-slider-1 {
    visibility: hidden;
}

/* 배너박스 시작 */
.banner-bar-1{
    margin-top:100px;
    margin-bottom: 100px;
}
/* 배너박스 1 */
.banner-bar-1>.banner-box-1{
    flex:5 0 0;
}
.banner-bar-1>.banner-box-1>.img-box{
    overflow: hidden;
    position: relative;
}
.banner-bar-1>.banner-box-1>.img-box>.plus-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color:#fff;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}
.banner-bar-1>.banner-box-1>.img-box:hover>.plus-text{
    opacity: 1;
}
.banner-bar-1>.banner-box-1>.img-box>.plus-text>img{
    transition: transform 1s;
}
.banner-bar-1>.banner-box-1>.img-box:hover>.plus-text>img{
    transform: rotate(180deg);
}
.banner-bar-1>.banner-box-1>.img-box:hover::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.banner-bar-1>.banner-box-1>.img-box>img{
    transition: transform .5s;
}
.banner-bar-1>.banner-box-1>.img-box:hover>img{
    transform: scale(1.3);
    transition: transform .5s;
}

.banner-bar-1>.banner-box-1>a>p{
    display: inline-block;
    font-size: 16px;
    border-bottom: 2px solid #1B9C9E;
    padding:30px 0 10px 50px; 
    color: #1B9C9E;
    font-weight: 500;
}
.banner-bar-1>.banner-box-1>a>h1{
    font-weight: 400;
    font-size: 30px;
    padding-top:10px;
    padding-left: 50px;
}
/* 배너박스 2 */
.banner-bar-1>.banner-box-2{
    flex:5 0 0;
}

.banner-bar-1>.banner-box-2{
    flex-shrink: 0;
    margin-top: 46px;
    margin-left: -48px;
}
.banner-bar-1>.banner-box-2>div{
    overflow: hidden;
    position: relative;
}
.banner-bar-1>.banner-box-2>div>.plus-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color:#fff;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}
.banner-bar-1>.banner-box-2>div:hover>.plus-text{
    opacity: 1;
}
.banner-bar-1>.banner-box-2>div>.plus-text>img{
    transition: transform 1s;
}
.banner-bar-1>.banner-box-2>div:hover>.plus-text>img{
    transform: rotate(180deg);
}
.banner-bar-1>.banner-box-2>div:hover::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.banner-bar-1>.banner-box-2>div>img{
    transition: transform .5s;
}
.banner-bar-1>.banner-box-2>div:hover>img{
    transform: scale(1.3);
    transition: transform .5s;
}
.banner-bar-1>.banner-box-2>a>p{
    display: inline-block;
    font-size: 16px;
    border-bottom: 2px solid #907E72;
    padding:30px 0 10px 50px; 
    color: #907E72;
    font-weight: 500;
}
.banner-bar-1>.banner-box-2>a>h1{
    font-weight: 400;
    font-size: 30px;
    padding-top:10px;
    padding-left: 50px;
}
/* 배너박스 끝*/


/* 아이콘 박스 시작*/
.icon-box{
    border: 5px solid #dfdfdf;
}
.icon-box>ul{
    padding: 50px;
    
}
.icon-box>ul>li{
    padding:0 50px;   
}
.icon-box>ul>li:not(:last-child){
    border-right:1px solid #dfdfdf;
}
.icon-box>ul>li>a>div{
    padding: 0 10px;
    white-space: nowrap;
}
/* 아이콘 박스 끝*/

/*배너 바 2 시작*/
.banner-bar-2{
    width: 100%;
    height: 646px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: contain;
    margin:150px 0;
}
.banner-bar-2>ul>li{
    margin: 0 20px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}
.banner-bar-2>ul>li:first-child{
    margin-left:-10px;    
}
.banner-bar-2>ul>li:hover{
    transform: translateY(-10%);
}
.banner-bar-2>ul>li:last-child{
    margin-right:-10px;
}
.banner-bar-2>ul>li>a{
    padding: 40px 0px 37px;
}
.banner-bar-2>ul>li>a>img{
    position: relative;
    margin-left: 35px;
    overflow: hidden;
}
.banner-bar-2>ul>li>a>h1{
    font-size: 28px;
    font-weight: 400;
    margin: 28px 35px 30px;
}

.banner-bar-2>ul>li:first-child>a>.title-1{
    font-size: 16px;
    color:#907E72;
    text-align: center;
}
.banner-bar-2>ul>li:first-child>a>.banner-date{
    font-size: 15px;
    line-height: 19px;
    margin-top:30px;
    padding-left:35px;
}
.banner-bar-2>ul>li:nth-child(2)>a{
    color:#fff;
}
.banner-bar-2>ul>li:nth-child(2)>a>.title-1{
    font-size: 16px;
    text-align: center;
}
.banner-bar-2>ul>li:nth-child(2)>a>.banner-date{
    font-size: 15px;
    line-height: 19px;
    margin-top:30px;
    padding-left:35px;
}
.banner-bar-2>ul>li:nth-child(3)>a>.title-1{
    font-size: 16px;
    color:#907E72;
    text-align: center;
}
.banner-bar-2>ul>li:nth-child(3)>a>.banner-date{
    font-size: 15px;
    line-height: 19px;
    margin-top:30px;
    padding-left:35px;
}
.banner-bar-2>ul>li:nth-child(4)>a{
    color:#fff;
}
.banner-bar-2>ul>li:nth-child(4)>a>.title-1{
    font-size: 16px;
    text-align: center;
}
.banner-bar-2>ul>li:nth-child(4)>a>.text-1{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 26px;
    padding: 0 35px;
    white-space: nowrap;
}
/*배너 바 슬라이드*/
.banner-bar-2{
    position: relative;
}
.banner-bar-2>div{
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.banner-bar-2>div>div:first-child{
    margin:30px 20px 30px 50px;
    white-space: nowrap;
}
.banner-bar-2>div>.my-slider-2>.swiper-container{
    width: 100%;
    height: 32px; 
}

.banner-bar-2>div>.my-slider-2>.swiper-container>.swiper-wrapper>.swiper-slide{
    height: 100%;
}

.banner-bar-2>div>.my-slider-2>.swiper-container>.swiper-wrapper>.swiper-slide>a>strong{
    display: inline-block;
    padding: 4px 10px 4px 11px;
    margin-right: 12px;
    border: 2px solid #101010;
    border-radius: 100px;
    font-size: 14px;
    line-height: 20px;
}

/*배너 바 2 끝*/


/*배너 바 3 시작*/
.banner-bar-3{
    margin-bottom:100px;
}
.banner-bar-3>div{
    padding: 30px 0;
}
.banner-bar-3>div>.banner-box-left>div>img{
    margin-right:10px;
}
.banner-bar-3>div>.banner-box-right>div>img{
    margin-left:10px;
}
/*배너 바 3 끝*/

.footer-wrap{
    background-color: #333333;
    border-bottom:1px solid #888888;
}
.footer-wrap>.footer{
    padding: 35px 0px 30px;
}
.footer-wrap>.footer>div:first-child>div{
    flex:5 0 0;
    margin-bottom: 5px;
}
.footer-wrap>.footer>div:first-child>p{
    flex:5 0 0;
    color: #fff;
}
.footer-wrap>.footer>.com-box>div>.company_info{
    margin:4px 13px 5px 0px;
}
.footer-wrap>.footer>.com-box>div:first-child{
    flex:5 0 0;
}
.footer-wrap>.footer >.com-box>div>.company_info, .footer-wrap>.footer >.com-box>div>.warning
{
    font-size:14px;
    color:#888888;
    letter-spacing: 0px;
}

.footer-wrap>.footer>.com-box>div>.copyright{
    margin-top:9px;
    font-size:13px;
    line-height: 16px;
    color:#888888;
    letter-spacing: 0px;
}
.footer-wrap>.footer>.com-box>div:last-child{
    flex:5 0 0;
}
.footer-wrap>.footer>.com-box>div:last-child>img{
    padding:10px;
}

/*어워드 박스 시작*/
.award-box{
    background-color: #333333;
}
.award-box>ul>li{
    padding: 10px 0;
}
.award-box>ul>li>span{
    color: #A8A8A8;
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;
}
/*어워드 박스 끝*/