/*폰트적용*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    font-family: 'Noto Sans KR', sans-serif;

}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: -0.025em;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    top:0;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}


/* 공통 css */
@media (max-width:799px) {
    .visible-md-up {
        display: none;
    }
}

@media (min-width:800px) {
    .visible-sm-down {
        display: none;
    }
}

/* 커스텀 */
html,
body {
    overflow-x: hidden;
    min-height: 100vh;
}

.con {
    width: 1130px;
}

/*탑박스 시작*/
/*탑 배너*/
.top-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.top-box>.ad-bar {
    width: 100%;
    background-color: #222;
}

body {
    padding-top: 80px;
}

.top-box-ad-bar-hidden body {
    padding-top: 0;
}

.top-box.ad-bar-hidden>.ad-bar {
    margin-top: -80px;
}

.top-box.ad-bar-closed>.ad-bar {
    display: none;
}

.con-min-width {
    min-width: 1132px
}

.top-box .con {
    width: 1280px;
}

/*탑 메뉴*/
.btn-close-ad-bar {
    right: 15%;
}

.top-box>.top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.top-box>.top-bar>.background {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(110, 0, 0, 0.9);
    transition: height .5s;
    z-index: -1;
}

.top-box.background-middle>.top-bar>.background {
    height: 100px;
}

.top-box.background-actived>.top-bar>.background {
    height: 153px;
}

.top-box>.top-bar>div>nav>ul>li>a {
    color: white;
    padding: 0 20px;
}

.top-box>.top-bar>div>nav>ul>li>div {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.top-box>.top-bar>div>nav>ul>li:hover>div {
    display: flex;
}

.top-box>.top-bar>div>nav>ul>li>div>nav>ul>li>a {
    color: white;
    padding: 15px 30px;
    font-size: .9rem;
}
/*메뉴 끝 주문 로그인 부분 */
.top-box>.top-bar>div>.etc {
    color: white;
}

.top-box>.top-bar>div>.etc>div>a {
    font-size: .9rem;
    font-weight: bold;
    padding: 10px;
}

.top-box>.top-bar>div>.etc>span>a>i {
    font-size: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 0 5px;
}

/*메뉴 밑에 오브제 이벤트 */
.top-box>.top-bar .menu-box-1 .menu-item-bottom-line {
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: left 0.4s, width 0.4s;
    margin-top: 97px;
}

.top-box>.top-bar .menu-box-1>ul .menu-item-bottom-line {
    margin-top: 50px;
}
/*메뉴 밑에 오브제 이벤트의 위치를 고정 */
.top-box>.top-bar nav {
    position: relative;
}

/*탑박스 끝*/

/*슬라이더 박스 시작*/
.my-slider-1 .item {
    height: 781px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-slider-1 .item>.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.my-slider-1 .item>.text-box>div {
    font-size: 4rem;
    color: white;
    white-space: nowrap;
}

.my-slider-1 .item>.text-box>div:nth-child(1):not(:only-child) {
    display: inline-block;
    font-style: italic;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 20px;
    line-height: 1em;
    transform: translate(-100px);
}

.my-slider-1 .item>.text-box>div:nth-child(1):not(:only-child) {
    transform: translate(-100px);
    opacity: 0;
}

.my-slider-1 .owl-item.active>.item>.text-box>div:nth-child(1):not(:only-child) {
    transform: translate(0);
    opacity: 1;
    transition: transform 1s .5s, opacity 1s .5s;
}

.my-slider-1 .item>.text-box>div:nth-child(2):not(:only-child) {
    letter-spacing: -0.025em;
    line-height: 70px;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
    transform: translate(-100px);
}

.my-slider-1 .item>.text-box>div:nth-child(2):not(:only-child) {
    transform: translate(-100px);
    opacity: 0;
}

.my-slider-1 .owl-item.active>.item>.text-box>div:nth-child(2):not(:only-child) {
    transform: translate(0);
    opacity: 1;
    transition: transform 1s 1s, opacity 1s 1s;
}

.my-slider-1 .item>.text-box>div:last-child {
    opacity: 0;
}

.my-slider-1 .item>.text-box>div:last-child:only-child {
    margin-top: 350px;
}

.my-slider-1 .item>.text-box.dark>div:last-child:only-child {
    border-color: #afafaf;
    color: #676767;
}

.my-slider-1 .item>.text-box>div:last-child>span {
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    border: 1px solid white;
}

.my-slider-1 .owl-item.active>.item>.text-box>div:last-child {
    opacity: 1;
    transition: opacity 1s 2s;
}

.my-slider-1 .owl-item.active>.item>.text-box>div:last-child:only-child {
    opacity: 1;
    transition: opacity 1s .5s;
}
/*슬라이더 박스 버튼*/
.my-slider-1>div.owl-carousel.owl-theme>div.owl-dots {
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.my-slider-1>div.owl-carousel.owl-theme>div.owl-dots>div.owl-dot>span {
    width: 45px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.my-slider-1>div.owl-carousel.owl-theme>div.owl-dots>div.owl-dot.active>span {
    background-color: rgba(255, 255, 255, 1);
}


/*슬라이더 박스 끝*/

/*슬라이더 밑 배너 박스 시작*/
.banner-box {
    width: 1144px;
    margin-top: -42px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.banner-box>a {
    color: white;
    background-color: rgba(110, 0, 0);
    padding: 30px 0;
    white-space: nowrap;
    letter-spacing: -.5px;
}

.banner-box>a:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);

}

.banner-box>a>div:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 20px;
}

.banner-box>a>div:nth-child(2) {
    opacity: .6;
    padding-left: 10px;
    font-weight: bold;
}

.banner-box>a>div:nth-child(3) {
    height: 20px;
    width: 33px;
    padding-right: 30px;
    background-image: url(https://www.bonif.co.kr/resources/web/css/images/main_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*슬라이더 밑 배너 박스 끝*/
/*윗부분 텍스트*/
.text-box-1>div{
    margin-top: -47px;
    padding-top: 147px;    
}
.text-center{
    text-align: center;
}
.prod-text-box-1{
    display: block;
    color: #8f172b;
    font-size: 20px;
    font-style: italic;
    font-family: "Georgia";
    font-weight: 400;
}
.prod-text-box-2{
    display: block;
    font-size: 48px;
    letter-spacing: -1.2px;
}
/*상품박스-1*/
.prod-box-1{
    height: 480px;
    width: 100%;
}
.prod-box-1>div>.photo>img{
    width: 650px;
}
.prod-box-3 .text-box{
    margin-top:41px;
}
.prod-box-4 .text-box{
    margin-top:12px;
}

/*상품박스 라이브러리*/
.flex-6-0-0{
    flex:6 0 0;
}
.flex-5-0-0{
    flex:5 0 0;
    margin-top: 30px;
    height: 325px;
    width: 100%;
    padding-left: 30px;
    padding-top: 25px;
}
.back-gray{
    right: 0;
    height: 325px;
    width: 50%;
    background-color: #E6E6E6;
}
.back-gray-370{
    right: 0;
    height: 370px;
    width: 50%;
    background-color: #E6E6E6;
}
.top-30{
    top:30px;
}
.top-40{
    top:40px;
}
.top-41{
    top:41px;
}
.top-70{
    top:70px;
}
.nth-child-1{
    color: #8f172b;
    font-size: 18px;
    display: block;
}
.nth-child-2{
    font-size: 34px;
    color: #222;
    line-height: 45px;
    padding-top: 2px;
    padding-bottom: 6px;
}
.nth-child-3{
    display: inline-block;
    width: 27px;
    height: 2px;
    background: #222;
    border: 0;
    margin: 20px 0 23px 0;
}
.nth-child-4{
    font-size: 16px;
    color: #666;
    padding-bottom: 4px;
}
.nth-child-5{
    text-align: center;
    width: 170px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #6e0000;
    margin-top: 25px;
}
.nth-child-5-2{
    text-align: center;
    width: 170px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #6e0000;
    margin-top: 45px;
}
/*상품박스-1 시작*/
.prod-box-1 .text-box{
    opacity:0;
    transition:opacity .8s 2s; 
}
.prod-box-1 .text-box.active{
    opacity:1;
}
.prod-box-1>div{
    position:relative;
}
.prod-box-1>div::before{
    content:"";
    position:absolute;
    right: 0;
    height: 325px;
    width: 0;
    background-color: #E6E6E6;
    transition: width 1s 1s;    
}
.prod-box-1>div.active::before{
    width:1200px;
}
.prod-box-1>div>.photo{
    position:relative;
}
.prod-box-1>div>.photo::after{
    content:"";
    position:absolute;
    top:30px;
    left:0;
    width:0;
    height:375px;
    background: #6e0000;
    margin-left:0;
    opacity:1;
    transition:width .8s 1s, opacity .5s 2s;  
}
.prod-box-1>div>.photo.active::after{
    width:100%;
    opacity:0;
}
.prod-box-1>div>.photo>img{
    opacity:0;
    transition:opacity .8s 2s;
}
.prod-box-1>div>.photo>img.active{
    opacity:1;
}
/*상품박스-1 끝*/

/*상품박스-3 시작*/
.prod-box-3 .text-box{
    opacity:0;
    transition:opacity .8s 2s; 
}
.prod-box-3 .text-box.active{
    opacity:1;
}
.prod-box-3>div{
    position:relative;
}
.prod-box-3>div::before{
    content:"";
    position:absolute;
    right: 0;
    height: 325px;
    width: 0;
    background-color: #E6E6E6;
    transition: width 1s 1s;    
}
.prod-box-3>div.active::before{
    width:1200px;
}
.prod-box-3>div>.photo{
    position:relative;
}
.prod-box-3>div>.photo::after{
    content:"";
    position:absolute;
    top:30px;
    left:0;
    width:0;
    height:375px;
    background: #6e0000;
    margin-left:0;
    opacity:1;
    transition:width .8s 1s, opacity .5s 2s;  
}
.prod-box-3>div>.photo.active::after{
    width:100%;
    opacity:0;
}
.prod-box-3>div>.photo>img{
    opacity:0;
    transition:opacity .8s 2s;
}
.prod-box-3>div>.photo>img.active{
    opacity:1;
}
/*상품박스-3 끝*/
/*상품박스-2 시작*/
.prod-box-2 .text-box{
    opacity:0;
    transition:opacity .8s 2s; 
}
.prod-box-2 .text-box.active{
    opacity:1;
}
.prod-box-2>div{
    position:relative;
}
.prod-box-2>div::before{
    content:"";
    position:absolute;
    left: 0;
    height: 325px;
    width: 0;
    background-color: #E6E6E6;
    transition: width 1s 1s;    
}
.prod-box-2>div.active::before{
    width:1200px;
}
.prod-box-2>div>.photo{
    position:relative;
}
.prod-box-2>div>.photo::after{
    content:"";
    position:absolute;
    top:30px;
    right:0;
    width:0;
    height:375px;
    background: #6e0000;
    margin-left:0;
    opacity:1;
    transition:width .8s 1s, opacity .5s 2s;  
}
.prod-box-2>div>.photo.active::after{
    width:100%;
    opacity:0;
}
.prod-box-2>div>.photo>img{
    opacity:0;
    transition:opacity .8s 2s;
}
.prod-box-2>div>.photo>img.active{
    opacity:1;
}
/*상품박스-2 끝*/
/*상품박스-4 시작*/
.prod-box-4 .text-box{
    opacity:0;
    transition:opacity .8s 2s; 
}
.prod-box-4 .text-box.active{
    opacity:1;
}
.prod-box-4>div{
    position:relative;
}
.prod-box-4>div::before{
    content:"";
    position:absolute;
    left: 0;
    height: 325px;
    width: 0;
    background-color: #E6E6E6;
    transition: width 1s 1s;    
}
.prod-box-4>div.active::before{
    width:1200px;
}
.prod-box-4>div>.photo{
    position:relative;
}
.prod-box-4>div>.photo::after{
    content:"";
    position:absolute;
    top:30px;
    right:0;
    width:0;
    height:375px;
    background: #6e0000;
    margin-left:0;
    opacity:1;
    transition:width .8s 1s, opacity .5s 2s;  
}
.prod-box-4>div>.photo.active::after{
    width:100%;
    opacity:0;
}
.prod-box-4>div>.photo>img{
    opacity:0;
    transition:opacity .8s 2s;
}
.prod-box-4>div>.photo>img.active{
    opacity:1;
}

/*상품박스-4 끝*/
/*상품박스 끝*/


/*인터뷰박스 시작*/
.interview-box{
    height: 850px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.interview-box > .text-box{
    text-align: center;
    padding: 50px;
    
}
.interview-box > .text-box >a:first-child{
    color: #87af0f;
    font-size: 18px;
    font-style: italic;
    font-family: "Georgia";
    font-weight: 400;
}
.interview-box > .text-box >a:last-child{
    color: white;
    font-size: 48px;
    letter-spacing: -1.2px;
}

.my-slider-1-2 .owl-stage-outer .owl-stage .owl-item .item .img-wrap {
    position: relative;
    height:393px;
    width: 652px;
}
.my-slider-1-2 .owl-stage-outer .owl-stage .owl-item .item .img-wrap::after {
    content:"";
    display: block;
    height: 100%;
    background-color: #000;
}
.my-slider-1-2 .owl-stage-outer .owl-stage .owl-item .item .img-wrap .img-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity: 0.4;
}
.my-slider-1-2 .owl-stage-outer .owl-stage .owl-item.center .item .img-wrap .img-box{
    opacity: 1;
}


.my-slider-1-2 > .owl-carousel.owl-theme > .owl-nav > div[class^="owl-"] {
    position:absolute;
    top:calc(50% - 100px);
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    z-index:10;
    margin-left:-460px;
    background: none;
    font-size: 16px;
}
.my-slider-1-2 > .owl-carousel.owl-theme > .owl-nav > div[class^="owl-"]:first-child::after{
    content: "";
    position: absolute;
    top:16px;
    left: 40px;
    width:200px;
    height: 1px;
    background-color: rgba(255,255,255,0.6);

}

.my-slider-1-2 > .owl-carousel.owl-theme > .owl-nav > div[class^="owl-"]:last-child {
    margin-left:460px;
}
.my-slider-1-2 > .owl-carousel.owl-theme > .owl-nav > div[class^="owl-"]:last-child::after{
    content: "";
    position: absolute;
    top:16px;
    right: 40px;
    width:200px;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
}

.my-slider-1-2 > .owl-carousel.owl-theme > .owl-dots {
    margin-top:10px;
}

.my-slider-1-2 .item > .txt-box {
    text-align:center;
    top:100%;
    visibility:hidden;
    margin-top:30px;
}

.my-slider-1-2 .center .item > .txt-box {
    visibility:visible;
    transition:visibility 0s .5s;
}
.size-120{
    display: block;
    width: 120px;
    height: 120px;
}
/*인터뷰박스 버튼*/
.my-slider-1-2>div.owl-carousel.owl-theme>div.owl-dots {
    margin:0;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 10px 0;
}

.my-slider-1-2>div.owl-carousel.owl-theme>div.owl-dots>div.owl-dot>span {
    width: 25px;
    height: 3px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);\
   
}

.my-slider-1-2>div.owl-carousel.owl-theme>div.owl-dots>div.owl-dot.active>span {
    background-color: rgba(255, 255, 255, 1);
}

/*인터뷰박스 라이브러리*/
.int_text_1{
    margin-top:50px;
    font-size: 28px;
    color: white;
}
.int_text_2{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin-top: 13px;
}
.int_text_3{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    line-height: 50px;
    padding: 0 30px;
    margin-top: 22px;
    background: #87af0f;
}


/*인터뷰박스 끝*/
/*상품리스트박스-2 시작*/
.back-white{
    background-color: white;
}
.prod-list-box-2>.back-img{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.prod-list-box-2>.text-box-2{
    padding-top: 100px;
    padding-bottom: 50px;
}
.prod-list-box-2>.prod-box-2>.intro{
    padding-right: 150px;

}
.prod-box-2>.photo{
    height: 502px;
    box-sizing: border-box;
    border: 2px solid blue;
    position: relative;
}
.prod-box-2>.photo>div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid blue;
}
/*상품박스-2 끝*/
/*상품슬라이드 박스 시작*/
.prod-slide{
    height: 610px;
    margin-bottom: 110px;
   
}
.prod-slide>.prod-slide-middle>div{
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.prod-slide>.intro>.text-box{
    margin-top:20px;
}
.prod-slide-mini{
    margin-top: 95px;
}
.prod-slide>.intro>.text-box>.prod-slide-mini>div{
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.prod-slide>.text-back{
    width: 100%;
    height: 370px;
    background-color:#E6E6E6; 

}
/*상품슬라이드 박스  끝*/
/*텍스트 박스 3 시작*/
.text-box-3{
    width: 100%;
    height: 350px;
}
.text-box-3>div>a:first-child{
    display: block;
    color:white;
    font-size: 20px;
    font-style: italic;
    font-family: "Georgia";
    font-weight: 400;
    padding-top: 40px;
}
.text-box-3>div>a:nth-child(2){
    display: block;
    color: white;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -1.2px;
}
.text-box-3>div>a:last-child{
    display:inline-block;
    color: white;
    font-size: 28px;
    letter-spacing: -1.2px;
    padding: 30px;
    background-color: #87af0f;
    margin-top: 90px;
}

/*텍스트 박스 3 끝*/
/*텍스트 박스 4 시작*/
.text-box-4{
    width: 100%;
    height:597px;
    background-color:#E6E6E6;
}
.text-box-4>div:first-child{
    padding-top: 180px;
}
/*텍스트 박스 4 끝*/
/*게시판 박스 시작*/
.notice>div{
    margin-top: 50px;
    
}
.notice>.notice-slides .notice-2{
    display: none;
    position: absolute;
}
.notice>div:nth-child(1){
    margin-right: 10px;
}
.notice>div:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
.notice>div:nth-child(3){
    margin-left: 10px;
    padding: 10px 0;
}
.notice>.notice-slides>div>div>a:first-child{
    font-size: 26px;
    padding: 10px 20px;
    border-bottom: 1px solid #E6E6E6;
}
.notice>.notice-slides>div >div>a:nth-child(2){
    font-size: 20px;
    padding:20px;
}
.notice>.notice-slides>div >div>a:last-child{
    color: #999999;
    padding: 5px 20px;
}


/*게시판 슬라이드 버튼*/
.notice-btn{
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 10px;   
    margin-bottom: 10px;
}
.notice-btn>div{
    padding: 0 10px;
    margin: 5px;
    border:1px solid #ddd;
    font-size: 1.5rem;
    color: #707070;
    opacity: .7;
}
.notice-btn>div.active{
    opacity: 1;
}


/*게시판 라이브러리*/
.dots{
    color: #6e0000;
    position:absolute;
    right: 20px;
}
/*게시판 박스 끝*/
.footer{
    height:51px;
    background-color:#222;
    border-top: 1px solid #46464a;
    border-bottom:1px solid #4d4d50;
  }
  .footer>div{
    white-space:nowrap;
  }
  .footer>div>div>div{
    padding: 14px 30px;
    font-size:16px; 
  }
  .text-gray{
    color:#999;
  }
  .text-white{
    color:white;
  }
  /*푸터-1 시작*/
  .footer>div>div>div>.logo{
    background: url(https://www.bonif.co.kr/resources/web/css/images/ico_sns.png) left -200px no-repeat;
    width:31px;
    height:20px;
    background-position: 0 -226px;
  }
  .footer>div>div>div>.icon-1{
    background: url(https://www.bonif.co.kr/resources/web/css/images/ico_sns.png) left -200px no-repeat;
    width:16px;
    height:21px;
    background-position: 0 -200px;
  }
  .footer>div>div>div>.icon-2{
    background: url(https://www.bonif.co.kr/resources/web/css/images/ico_sns.png) left -200px no-repeat;
    width:16px;
    height:21px;
    background-position: -20px -200px;
  }
  .footer>div>div>div>span:nth-child(2){
    position:relative;
    padding-right:10px;
    padding-left:5px;
  }
  .footer>div>div>div>span:nth-child(3){
    padding-left:5px;
  }
  .footer>div>div>div>span:nth-child(2)::after{
    content:"";
    position:absolute;
    width:1px;
    height:15px;
    background-color:#999;
    top:50%;
    transform:translatey(-45%);
    right:0;
  }
  .family-site{
    padding: 14px 30px;
    font-size:16px; 
    border-left:1px solid #4d4d50;
    border-right:1px solid #4d4d50;
  }
  .family-site>a:first-child{
    padding-right:100px;
  }
  /*푸터-2 시작*/
  .footer-2{
    height:222px;
    background-color:#222;
    border-bottom:1px solid #999;
  }
  .footer-2>div>.icon-box>div{
    margin:30px 10px;
  }
  .footer-2>div>.icon-box>div:nth-child(1){
      display: block;
      width: 45px;
      height: 45px;
      text-indent: -999em;
      overflow: hidden;
      background: url(https://kima-rin.github.io/img1/pf/Bon/ico_sns.png) no-repeat;
      background-position: center -150px;
  }
  .footer-2>div>.icon-box>div:nth-child(2){
      display: block;
      width: 45px;
      height: 45px;
      text-indent: -999em;
      overflow: hidden;
      background: url(https://kima-rin.github.io/img1/pf/Bon/ico_sns.png) no-repeat;
      
  }
  .footer-2>div>.icon-box>div:nth-child(3){
      display: block;
      width: 45px;
      height: 45px;
      text-indent: -999em;
      overflow: hidden;
      background: url(https://kima-rin.github.io/img1/pf/Bon/ico_sns.png) no-repeat;
     background-position: center -50px;
  }
  .footer-2>div>.icon-box>div:nth-child(4){
      display: block;
      width: 45px;
      height: 45px;
      text-indent: -999em;
      overflow: hidden;
      background: url(https://kima-rin.github.io/img1/pf/Bon/ico_sns.png) no-repeat;
      background-position: center -100px;
  }
  .footer-2>div>ul>li{
    position:relative;
  }
  
  .footer-2>div>ul>li:not(:last-child):after{
    content:"";
    position:absolute;
    width:1px;
    height:13px;
    top:50%;
    transform:translatey(-50%);
    right:0;
    background-color:white;
  }
  .footer-2>div>ul>li>a{
    color:white;
    font-size:14px;
    padding:0 20px;
  }
  .company{
    font-size:14px;
    color:#999;
    margin-top:15px;
  }
  .copyright{
    font-size:14px;
    color:#666;
  }